.sect-body{
	padding-top: 15px;
}
.feedback-form input{
	display: block;
	height: 40px;
	width: 192px;
}

.name{
	float: left;
}
.email{
	float: right;
}
.feedback-form{
	width: 400px;
	margin: auto;	
}
.feedback-form:after{
	clear: both;
	content: " ";
	display: block;
}
.feedback-form label{
	clear: both;
	display: block;
	font-size: 14px;
	padding: 15px 5px 7px 0px;
}
.feedback-form input, .feedback-form textarea{
	border-radius: 5px;
	border: 1px solid #d6d5d3;
	font-size: 12px;
	text-indent: 10px;	
	position: relative;
}
.feedback-form textarea{
	width: 400px;
	resize: none;
	padding-top: 10px;
}
.code-img{
	width: 190px;
	border: 1px solid #d6d5d3;
	height: 80px;
	padding: 25px;
	border-radius: 5px;
	background: url(../img/code-block.png) white no-repeat center;
}
.feedback-form .code-in{
	float: right;
	height: 32px;
	margin-top: 25px;
}
.input-box{
	height: 82px;
}
.feedback-form .button{
	padding: 2px;
	width: 125px;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #d6d5d3;
	font-size: 14px;
	font-family: OpenSansSB;
	color: #727070;
	box-shadow: 0px 2px 1px 0px rgba( 9, 9, 9, .3 ),
				inset 0px 1px 0px 0px rgba(190,240,220,.5);
	margin-top: 25px;
	background-origin: border-box;
}

.feedback-form .submit{
	float: left;
	color: #467366;
	text-shadow: 1px 1px #dcece6;
    background-image: -webkit-linear-gradient(bottom, rgb( 67, 183, 150 ) 0%, rgb( 128, 232, 203 ) 100%);
    background-image: -o-linear-gradient(bottom, rgb( 67, 183, 150 ) 0%, rgb( 128, 232, 203 ) 100%);
    background-image: linear-gradient(bottom, rgb( 67, 183, 150 ) 0%, rgb( 128, 232, 203 ) 100%);
    border: 1px solid rgba(150, 159, 132, .3);
	margin-left: 30px;
}
.feedback-form .submit:hover{
	background-image: -webkit-linear-gradient(bottom, rgb( 58, 160, 135 ) 0%, rgb( 95, 220, 189 ) 100%);
	background-image: -o-linear-gradient(bottom, rgb( 58, 160, 135 ) 0%, rgb( 95, 220, 189 ) 100%);
	background-image: linear-gradient(bottom, rgb( 58, 160, 135 ) 0%, rgb( 95, 220, 189 ) 100%);
}
.feedback-form .submit:active{
	background-image: -webkit-linear-gradient(bottom, rgb( 73, 117, 99 ) 0%, rgb( 121, 187, 160 ) 100%);
	background-image: -o-linear-gradient(bottom, rgb( 73, 117, 99 ) 0%, rgb( 121, 187, 160 ) 100%);
	background-image: linear-gradient(bottom, rgb( 73, 117, 99 ) 0%, rgb( 121, 187, 160 ) 100%);
	color: #eeedec;
	text-shadow: 1px 1px #656a68;
}

.reset{
	float: right;
	margin-right: 30px;
}

.feedback-form .reset{
   background-image: -webkit-linear-gradient(bottom, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
   background-image: -o-linear-gradient(bottom, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
   background-image: linear-gradient(bottom, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
   border: 1px solid rgba(197, 197, 197, .5);
}
.feedback-form .reset:hover{
   background-image: -webkit-linear-gradient(bottom, rgb( 192, 190, 190 ) 0%, rgb( 226, 224, 224 ) 86.694%, rgb( 231, 230, 230 ) 100%);
   background-image: -o-linear-gradient(bottom, rgb( 192, 190, 190 ) 0%, rgb( 226, 224, 224 ) 86.694%, rgb( 231, 230, 230 ) 100%);
   background-image: linear-gradient(bottom, rgb( 192, 190, 190 ) 0%, rgb( 226, 224, 224 ) 86.694%, rgb( 231, 230, 230 ) 100%); 
}

.feedback-form .reset:active{
	background-image: -webkit-linear-gradient(bottom, rgb( 123, 120, 120 ) 0.244%, rgb( 169, 168, 168 ) 100%);
	background-image: -o-linear-gradient(bottom, rgb( 123, 120, 120 ) 0.244%, rgb( 169, 168, 168 ) 100%);
	background-image: linear-gradient(bottom, rgb( 123, 120, 120 ) 0.244%, rgb( 169, 168, 168 ) 100%);
	color: #eeedec;
	text-shadow: 1px 1px #656a68;
}
.code{
	line-height: 100px;
	vertical-align: middle;
}
.error{
	position: relative;
	display: inline-block;
}
.error input , .error textarea{
	border: solid 1px red;
	box-shadow: 0 0 5px 0px red;
}
.marg-b25{
	margin-top: 25px;
	float: right;
}
.marg-b25 .code-in{
	margin-top: 0px;
}
.error-message{
	line-height: 20px;
	font-size: 12px;
	background-color: rgb( 243, 162, 135 );
	position: absolute;
    background-image: -webkit-linear-gradient(bottom, rgb( 211, 118, 84 ) 0%, rgb( 243, 162, 135 ) 89.746%);
	background-image: -o-linear-gradient(bottom, rgb( 211, 118, 84 ) 0%, rgb( 243, 162, 135 ) 89.746%);
	background-image: linear-gradient(bottom, rgb( 211, 118, 84 ) 0%, rgb( 243, 162, 135 ) 89.746%);
	padding: 1px 10px;
	border-radius: 5px;
	white-space: nowrap;
	top: 50%;
	margin-top: -9px;
}
.error:after{
	position: absolute;
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	display: block;
	content: " ";
	top: 50%;
	margin-top: -3px;
}
.error-r:after{
	border-right: 5px solid rgb( 233, 152, 125 );
	right: -5px;
}
.error-l:after{
	border-left: 5px solid rgb( 233, 152, 125 );
	left: -5px;
}
