.feedback-form input{
	display: block;
	height: 40px;
	width: 190px;

}
.feedback-form textarea{
	width: 100%;
}
.name{
	float: left;
}
.email{
	float: right;
}
.feedback-form{
	width: 400px;
	margin: auto;
}
.feedback-form label{
	clear: both;
	display: block;
	font-size: 14px;
	padding: 5px;
}
.feedback-form input, .feedback-form textarea{
	border-radius: 5px;
	border: 1px solid #d6d5d3;
	font-size: 12px;
	text-indent: 10px;	
}
.code-img{
	width: 190px;
	height: 80px;
	padding: 25px;
	background: url(../img/code-block.img) white;
}
.code-in{
	float: right;
	margin-top: 20px;
}
.feedback-form .button{
	padding: 2px;
	width: 140px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #d6d5d3;
	display: inline-block;
	font-size: 14px;
	font-family: OpenSansSB;
	color: #727070;
}