@font-face{
	font-family: OpenSansSB;
	src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face{
	font-family: OpenSans;
	src: url(../fonts/OpenSans-Regular.ttf);
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	color: #727070;
	margin: 0px;
	background: url('/img/main-bg.jpg');
	background-size: 100%;
	font-size: 16px;
	font-family: OpenSans;
	position: relative;
	padding-bottom: 60px;
}
.wrap{
	margin: auto;
	width: 1200px;
}
/*----------------------------header-------------------------*/
header{
	height: 101px;
	border-bottom: 7px solid white;
	box-shadow: 0px 1px 0px 0px #dccb86;
	background: url('/img/bg-head.png');
}
#logo{
	height: 71px;
	margin: 14px 0 9px 10px;
}
.soc-buttons{
	float: right;
	margin-top: 31px;

}
.soc-but {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
  box-shadow: 0px 2px 1px 0px rgb( 9, 9, 9 );
  width: 36px;
  height: 36px;
  display: inline-block;
  overflow: hidden;
  margin-left: 11px;
}
.soc-but {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
  box-shadow: 0px 2px 1px 0px rgb( 9, 9, 9 );
  width: 36px;
  height: 36px;
  display: inline-block;
  overflow: hidden;
}

.soc-but>a{  
	display: inline-block;
	background-image: url(/img/spritesheet.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	text-indent: 50px;
}

.facebook{          background-position: -19px -51px;   }
.facebook:hover{    background-position: -53px -51px;   }
.gh{                background-position: -52px   -12px; }
.gh:hover{          background-position: -15px  -13px;  }
.vk{                background-position: -17px -90px;   }
.vk:hover{          background-position: -52px -90px;   }
.tw{                background-position: -92px   -16px; }
.tw:hover{          background-position: -92px -54px;   }

.main-block{
	width: 960px;
	margin-top: 0px;
}
/*----------------------------Sidebar-------------------------*/
.main-block:after{
	clear: both;
	display: block;
	content: " ";
}
.aside{
	float: left;
}
.main-menu{
	margin-top: 33px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	border-radius: 3px;
	width: 250px;
	box-shadow: 0px 2px 1px 0px rgba( 9, 9, 9, 0.3);
}
.mm-link{
	font-family: OpenSansSB;
	text-decoration: none;
	font-size: 1.25em;
	display: block;
	line-height: 55px;
	color: #727070;
	text-shadow: 0px 1px  #eae9e9;
	padding: 0px 28px;
	background-image: -moz-linear-gradient( 90deg, rgb( 233, 230, 229 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb( 233, 230, 229 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
	box-shadow: inset 0px 1px 0px 0px #eee;
}
li:first-child .mm-link {
	border-radius: 3px 3px 0 0;
}
.mm-link:hover{
	box-shadow: inset  0px -100px 100px -90px rgba(0,0,0,.3); 
}
.mm-link:active{
	box-shadow: inset  0px -100px 100px -50px rgba(0,0,0,.3); 
}
.active {
	background-image: -moz-linear-gradient( 90deg, rgb( 62, 183, 153 ) 0%, rgb( 126, 232, 206 ) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb( 62, 183, 153 ) 0%, rgb( 126, 232, 206 ) 100%);
	border: 1px solid rgba(54,161,133,.5);
	border-top: 1px solid #66dbbe;
	border-bottom: 1px solid #2fa185;
	text-shadow: 0px 1px #90dbc8;
	box-shadow: inset 0px 1px 0px 0px #a5efdd;
	
}

/*----------------------------Main content-------------------------*/
.content{
	width: 651px;
	float: right;
}
.content-section{
	width: 100%;
	background: #f4f3f2;
	margin-top: 33px;
	margin-bottom: 36px;
	border-radius: 3px;
	border: 1px solid #c1c1c1;
	padding-bottom: 0px;
}
.section-header {
  background-image: -moz-linear-gradient( 90deg, rgb( 123, 120, 120 ) 0.244%, rgb( 169, 168, 168 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 123, 120, 120 ) 0.244%, rgb( 169, 168, 168 ) 100%);
  width: 651px;
  position: relative;
  top: -1px;
  left: -1px;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0px 0px 0px 1px rgba(100,100,100,.3),inset 0px 2px 0px 0px #c3c2c2;
}
.section-header .title{
	font-size: 24px;
	color: #eeedec;
	margin: 0px;
	padding: 0 0 5px;
	line-height: 52px;
	text-indent: 43px;
	text-shadow: 0 1px #666565;
}
.sect-body{
	padding:28px 30px 33px 30px;
	color: #727070;
}
.photo{
	float: left;
	border-radius: 50%;
	border: 9px solid white;
	height: 151px;
	box-shadow: 0 0 0 1px #cecccb;
	width: 151px;
	margin-left: 13px;
	margin-top: 8px
}
.semibold{
	font-family: OpenSansSB;
}

.sect-body p{
	margin: 0px 30px 0px 198px;
	font-size: 14px;
	line-height: 25px;
}
.sect-body>span{
	margin: 0px 0px 20px 35px;
	line-height: 25px;
	font-size: 14px;
}
.sect-body>.skillmargin{
	line-height: 47px;
}
.skills{
	display: inline-block;
	width: 240px;
	vertical-align: top;
	margin-top: 12px;
	margin-bottom: 0px;
}
.skill{
	white-space: nowrap;
	background: url(../img/skill-label.png);
	background-repeat:  no-repeat;
	border: 1px solid #cdcccc;
	border-radius: 3px;
	padding: 1px 7px 1px 8px;
	border-left: none;
	position: relative;
	margin-left: 10px;
	font-size: 10px;
	line-height: 25px;
    background-image: -moz-linear-gradient( 90deg, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 233, 230, 228 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
    box-shadow: 0px 2px 3px -2px rgba( 9, 9, 9,0.3 );
}
.skill:before{
	display: block;
	content: "";
	width:9px;
	height: 25px;
	position: absolute;
	left: -6px;
	top: -4px;
	background: url(../img/spritesheet.png);
	background-position: -223px -83px;
	background-repeat:  no-repeat;
}
/*-------------------------------------------------Prew Job--------------------------*/
.smaller-padding{
	padding: 20px;
}
.sub-sect{
	padding: 20px;
	position: relative;
}

.sub-sect:not(:first-child):before{
	display: block;
	content: " ";
	height: 2px;
	position: relative;
	width: 560px;
	top: -20px;
	box-shadow: 0 0 1px 1px #fafaf9;
	background-image: linear-gradient(#dbdbda,#edeceb);
}
.circle-img{
	float: left;
	height: 55px;
	width: 55px;
	background-image: url(../img/spritesheet.png);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-color: #f7f7f7;
  	box-shadow: 0.5px 0.866px 0px 0px rgb( 255, 255, 255 ),
  				-1px -1px 0 0 #d9d8d8;
	position: absolute;
	top: 50%;
	margin-top: -27px;
}
.case{
	background-position: -146px -1px;
}
.article-text-box{
	margin-left: 95px;
	margin-right: 0px;
	padding-right: 10px;
}
.article-text-box>p{
	margin: 0px;
	font-size: .875em;
	font-family: OpenSansSB;
}

.article-text-box>span{
	margin: 0px;
	font-size: .875em;
}
.school{
	background-position: -205px -5px;
}
.hight{
	background-position: -32px -170px;
}
.loftschool{
	background-position: -143px -61px;
}
/*-----------------------------------Contacts---------------*/
.contacts{
	overflow: hidden;
	border-radius: 3px;	
	width: 250px;
	margin-top: 35px;

}
.contacts ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.contact-link{
	color: #727070;
	background-image: -moz-linear-gradient( 90deg, rgb( 233, 231, 231 ) 0%, rgb( 251, 249, 249 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 233, 231, 231 ) 0%, rgb( 251, 249, 249 ) 100%);
    box-shadow: 0px 1px 0px 0px rgb( 255, 255, 255 );
    border: 1px solid rgb( 214, 213, 211 );
    border-top: none;
    width: 250px;
    display: block;
    padding: 9px;
    text-indent: 65px;
    font-size: .875em;
    text-decoration: none;
    position: relative;
}
li:first-child .contact-link {
	border: 1px solid rgb( 214, 213, 211 );
}

.contact-link:before, .contact-link:after{
	content: " ";
	display: block;
	position: absolute;
	height: 40px;
	width: 40px;
	top: 0px;
	left: 0px;
}
.contact-link:before{
	background-image: url(../img/spritesheet.png);
	background-position: -103px -97px;
	top: 0px;
	left: 46px;
	width: 15px;
}
.mail:after{
	background-image: url(../img/spritesheet.png);
	background-position: -83px -142px;

}
.tel:after{
	background-image: url(../img/spritesheet.png);
	background-position: -1px -137px;
}

.skype:after{
	background-image: url(../img/spritesheet.png);
	background-position: -39px -139px;
}

.contacts-title{
	display: block;
	background-image: -moz-linear-gradient( 90deg, rgb( 220, 177, 93 ) 0%, rgb( 244, 204, 126 ) 89.746%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 220, 177, 93 ) 0%, rgb( 244, 204, 126 ) 89.746%);
    box-shadow: 0px 2px 1px 0px rgb( 9, 9, 9 );
    margin: 0px;
    padding: 9px;
    text-indent: 20px;
    text-shadow: 0.5px 0.866px 0px rgba( 255, 255, 255, .5);
    color: rgb( 208, 152, 44 );
    border: 1px solid rgba(202,161,80, .5)
}
.contact-link:hover {
	background-image: -webkit-linear-gradient(bottom, rgba( 224, 197, 145, .2) 0%, rgb( 251, 249, 249 ) 100%);
	background-image: -o-linear-gradient(bottom, rgba( 224, 197, 145, .2) 0%, rgb( 251, 249, 249 ) 100%);
	background-image: linear-gradient(to top, rgba( 224, 197, 145, .2) 0%, rgb( 251, 249, 249 ) 100%);
	text-decoration: underline;
}
footer{
	height: 60px;
	background-color: #f7f7f7;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
.footer-text{
	line-height: 60px;
}
.footer-box{
	width: 650px;
	font-size: .75em;
}
.footer-box a{
	text-decoration: none;
	color: #9c9c9c;
	font-family: OpenSansSB;
	line-height: 60px;
	position: relative;
}
.footer-box a:before{
	display: block;
	content: " ";
	height: 40px;
	width: 40px;
	position: absolute;
	font-size: .875em; 
	left: -40px;
	background-image: url(../img/spritesheet.png);
	background-position: -158px -122px;
}
.footer-box a:hover:before{
	background-position: -217px -128px;
}