@font-face {
    font-family: OpenSansL;
    src: url('../fonts/opensans-light.eot');
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype'),
         url('../fonts/opensans-light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.sect-body{
	padding-top: 10px;
}
.works-list{
	list-style: none;
	padding: 0px;
	padding-top: 28px;
	margin-top: 0px;
	margin-left: 5px;
}
.works-list-item{
	display: inline-block;
	overflow: hidden;
	width: 167px;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	box-shadow:  -1px -1px 0px 0px #dcdbdb;
	margin-left: 27px;
	margin-bottom: 32px;
	margin-bottom: 32px;
	vertical-align: top;
	text-align: center;
}
.work-img{
	margin-bottom: 0px;
	width: 100%;
	height: 120px;
	border-bottom: 1px solid #f5f5f5;
}
.work-title{
	border-top: 1px solid #c3c3c3;
	font-size: 14px;
	font-family: OpenSansSB;
	background: #e8e8e8;
	display: block;
	width: 100%;
	margin-top: -5px;
	margin-bottom: 0px;
	padding: 10px 5px 10px 10px;
	border-bottom: 1px solid #f5f5f5;
	color: #727070;
}
.work-link{
	text-decoration: none;
}
.work-discript{
	display: inline-block;
	font-size: 12px;
	font-family: OpenSansL;
	color: #727070;
	margin: 2px 5px 7px 5px;

}
.smaller-pad{
	padding: 10px;
}
.button{
	background-image: -moz-linear-gradient( 90deg, rgb( 237, 235, 234 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 237, 235, 234 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
	padding-bottom: 22px;
}
.button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb( 194, 192, 192 ) 0%, rgb( 227, 225, 225 ) 86.694%, rgb( 232, 231, 231 ) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb( 194, 192, 192 ) 0%, rgb( 227, 225, 225 ) 86.694%, rgb( 232, 231, 231 ) 100%);
  cursor: pointer;
}

.button-text{
	font-size: 14px;
	border-radius: 5px;
	font-family: OpenSansSB;
}
.button-text:before{
	content: ' ';
	display: block;
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -171px -170px;
	margin: 25px auto 7px;
	width: 53px;
    height: 54px;
	border-radius: 50%;
    background-color: #f7f7f7;
    box-shadow: 0.5px 0.866px 0px 0px rgb( 255, 255, 255 ),
    			-1px -1px 1px 0px #d1d1d1;
}
.button:hover .button-text:before{
	background-color: #d7d7d7;
}
.content-section{
	min-height: 840px;
}

.img-hover-box {
	position:relative;
}
.img-hover-box .textbox {
	width: 100%;
	height: 120px;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: scale(0);
	transform: scale(0);
	border-radius:5px;
	background-color: rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
	box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
	color: white;
}
.img-hover-box:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.text {
	padding-top: 35px;
}
.textbox {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
/*-------------------------popup------------------*/

.popup{
	position: fixed;
	top: 0px;
	display: none;
	left: 0px;
	width: 100vw;
	height: 100vh;
}
.popup-body{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 367px;
	margin: -231px 0 0 -183px;
	background-color: #f1efee;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #cacaca;
}
.cover{
	z-index: 11;
	background-color: rgba(0,0,0,.3);
	width: 100vw;
	height: 100vh;
}
.popup-form{
	z-index: 12;
	position: relative;
	padding-top: 7px;
}
.popup-form input{
	padding-left: 10px;
}
.in_img{
	height: 0px;
	width: 0px;
	position: fixed;
	top: -100px;
	left: 0;
	z-index: 0;
}
.input{
	padding: 10px;
	width: 322px;
	height: 40px;
	margin: 8px auto 5px;
	border: 1px solid #d6d5d3;
	border-radius: 5px;
	font-size: 12px;
	display: block;
}
.fake-input{
	background-color: white;
	padding-left: 0;
	color: #aaa;
	overflow: hidden;
	padding: 10px;
	background: white;
	cursor: pointer;
}
.success{
  border-width: 1px;
  border-color: rgb( 73, 187, 123 );
  border-style: solid;
  border-radius: 4px;
  background-color: #bde2cc;
  width: 318px;
  height: auto;
  padding: 5px;
  line-height: 16px;
}

.success span{
	font-size: 16px;
}
.success p{
	font-size: 14px;
}
.cloud-box{
	background-image: -webkit-linear-gradient(bottom, rgb( 233, 230, 229 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
	background-image: -o-linear-gradient(bottom, rgb( 233, 230, 229 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
	background-image: linear-gradient(bottom, rgb( 233, 230, 229 ) 0%, rgb( 251, 249, 249 ) 94.238%, rgb( 255, 255, 255 ) 100%);
	content: " ";
	display: block;
	float: right;
	height: 40px;
	margin-top: -11px;
	margin-right: -11px;
	width: 50px;
	border: 1px solid #d6d5d3;
}
.cloud-box:after{
	content: " ";
	display: block;
	float: right;
	height: 38px;
	width: 50px;
	background: url(../img/spritesheet.png) no-repeat;
	background-position: -120px -178px;
}
.exit-button{
	border: none;
	position: absolute;
	right: -3px;
	top: -3px;
	height: 14px;
	width: 15px;
	background-image: url(../img/spritesheet.png);
	background-position: -90px -191px;
	background-color: transparent;
}
.popup-form label{
	margin-left: 12px;
	font-size: 14px;
}
.about-proj-text{
	width: 320px;
	display: block;
	margin: 5px auto;
	border-radius: 5px;
	font-size: 12px;
	padding: 10px;
	border: 1px solid #d6d5d3;
	resize: none;
}
.popup .popup-form .submit{
	border-radius: 5px;
	padding: 8px 27px;
	font-size: 14px;
	display: block;
	color: #467366;
	text-shadow: 1px 1px #dcece6;
    background-image: -webkit-linear-gradient(bottom, rgb( 67, 183, 150 ) 0%, rgb( 128, 232, 203 ) 100%);
    background-image: -o-linear-gradient(bottom, rgb( 67, 183, 150 ) 0%, rgb( 128, 232, 203 ) 100%);
    background-image: linear-gradient(bottom, rgb( 67, 183, 150 ) 0%, rgb( 128, 232, 203 ) 100%);
    border: 1px solid rgba(150, 159, 132, .3);
    box-shadow: 0px 2px 1px 0px rgba( 9, 9, 9, .3 ),
				inset 0px 1px 0px 0px rgba(190,240,220,.5);
	background-origin: border-box;
	font-family: OpenSansSB;
	background-color: rgb( 108, 212, 183 );
	margin: 10px 110px;
}
.submit:hover{
	background-image: -webkit-linear-gradient(bottom, rgb( 58, 160, 135 ) 0%, rgb( 95, 220, 189 ) 100%);
	background-image: -o-linear-gradient(bottom, rgb( 58, 160, 135 ) 0%, rgb( 95, 220, 189 ) 100%);
	background-image: linear-gradient(bottom, rgb( 58, 160, 135 ) 0%, rgb( 95, 220, 189 ) 100%);
}
.submit:active{
	background-image: -webkit-linear-gradient(bottom, rgb( 73, 117, 99 ) 0%, rgb( 121, 187, 160 ) 100%);
	background-image: -o-linear-gradient(bottom, rgb( 73, 117, 99 ) 0%, rgb( 121, 187, 160 ) 100%);
	background-image: linear-gradient(bottom, rgb( 73, 117, 99 ) 0%, rgb( 121, 187, 160 ) 100%);
	background-color: rgb( 111, 177, 150 );
	color: #eeedec;
	text-shadow: 1px 1px #656a68;
}
/*-------------------------------error---------------------------------------------*/
.error{
	position: relative;
	display: inline-block;
	left: 12px;
	margin: 5px auto 5px;
}
.error .input{
	margin: 3px 0 0 0;
}

.error .about-proj-text{
	width: 320px;
	display: block;
	margin: 0px auto -10px;
}
.error-message{
	line-height: 20px;
	font-size: 12px;
	position: absolute;
	background-color: rgb(243, 162, 135);
    background-image: -webkit-linear-gradient(bottom, rgb( 211, 118, 84 ) 0%, rgb( 243, 162, 135 ) 89.746%);
	background-image: -o-linear-gradient(bottom, rgb( 211, 118, 84 ) 0%, rgb( 243, 162, 135 ) 89.746%);
	background-image: linear-gradient(bottom, rgb( 211, 118, 84 ) 0%, rgb( 243, 162, 135 ) 89.746%);
	padding: 1px 10px;
	border-radius: 5px;
	white-space: nowrap;
	top: 50%;
	margin-top: -9px;
}
.error:after{
	position: absolute;
	width: 0px;
	height: 0px;
	border: 5px solid transparent;
	display: block;
	content: " ";
	top: 50%;
	margin-top: -3px;
}
.error-r:after{
	border-right: 5px solid rgb( 233, 152, 125 );
	right: -5px;
}
.error-l:after{
	border-left: 5px solid rgb( 233, 152, 125 );
	left: -5px;
}
.error .input , .error textarea{
	border: solid 1px red;
	box-shadow: 0 0 5px 0px red;
}